<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatTo:new-menu</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/createBoardForm.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js}" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<!-- 네비게이션 헤더 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}">
            <img th:src="@{/images/logo.png}" th:href="@{/main}" id="logo" alt="" width="250px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-header">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:text="${userName} + '님, 안녕하세요!'"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/mypage}">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/history}">나의 이용현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/new-menu}" id="statusActive">메뉴 등록</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn nav-link active" onclick="location.href='/logout'">로그아웃</button>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link active" href="#"><img th:src="@{images/bell-fill.svg}" alt="" width="25px"></a>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</nav>

    <!-- 본문 -->
    <div class="container-fluid align-content-center">
        <div class="container h1" id="menuPageTitle">새 메뉴 등록🍽️</div>
        <div class="container align-content-center justify-content-center" id="menuDiv">
            <div class="row mt-3 ms-5">
                <div class="col-2">
                    <p>제목: </p>
                </div>
                <div class="col">
                    <input type="text" id="titleInput" placeholder="게시글 제목을 입력해주세요!">
                </div>
            </div>
            <div class="row ms-5">
                <div class="col-2">
                    <p>내용: </p>
                </div>
                <div class="col">
                    <textarea id="contentBox" placeholder="게시글 내용을 자유롭게 작성해주세요!"></textarea>
                </div>
            </div>
            <div class="row ms-5">
                <div class="col-2">
                    <p>식당: </p>
                </div>
                <div class="col">
                    <div class="input-group mb-3 placeSearchGroup">
                        <input type="text" id="resName" class="form-control placeSearchInput" placeholder="장소 검색">
                        <button class="btn btn-outline-secondary placeSearch" type="button">🔍</button>
                    </div>
                </div>
            </div>
            <div class="row ms-5">
                <div class="col-2">
                    <p>모일 장소: </p>
                </div>
                <div class="col">
                    <div class="input-group mb-3 placeSearchGroup">
                        <input type="text" id="meetName" class="form-control placeSearchInput" placeholder="장소 검색">
                        <button class="btn btn-outline-secondary placeSearch" type="button">🔍</button>
                    </div>
                </div>
            </div>
            <div class="row ms-5">
                <div class="col-2">
                    <p>최소 인원: </p>
                </div>
                <div class="col-3">
                    <input type="number" id="minNum">
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <p>최대 인원: </p>
                </div>
                <div class="col-3">
                    <input type="number" id="maxNum">
                </div>
            </div>


            <button type="submit" class="btn" id="save">게시글 등록</button>
        </div>
    </div>
</body>
<script>
    let currentURL = window.location.href;
    // URL을 '/'로 분할하여 배열로 만든 후, 마지막 요소를 추출하여 meetDate 변수에 저장
    let urlParts = currentURL.split('/');
    let meetDate = urlParts[urlParts.length - 1];
    console.log('meetDate이다: ', meetDate);


    window.onload = function() {
        const saveButton = document.getElementById("save");
        // 저장 버튼 비활성화
        saveButton.disabled = true;
    };

    function validSave() {
        const saveButton = document.getElementById("save");
        let title = document.getElementById("titleInput").value;
        let content = document.getElementById("contentBox").value;
        let minNum = document.getElementById("minNum").value;
        let maxNum = document.getElementById("maxNum").value;
        let resaurantName = document.getElementById("resName").value;
        let meetName = document.getElementById("meetName").value;

        if (title.trim() !== "" && content.trim() !== "" && minNum.trim() !== "" && maxNum.trim() !== "" && resaurantName.trim() !== "" && meetName.trim() !== "") {
            saveButton.disabled = false; // 저장 버튼 활성화
        } else {
            saveButton.disabled = true; // 저장 버튼 비활성화
        }
    }

    document.getElementById("titleInput").onkeyup = validSave;
    document.getElementById("contentBox").onkeyup = validSave;
    document.getElementById("minNum").onkeyup = validSave;
    document.getElementById("maxNum").onkeyup = validSave;
    document.getElementById("resName").onkeyup = validSave;
    document.getElementById("meetName").onkeyup = validSave;

    const saveButton = document.getElementById('save');

    if (saveButton) {
        saveButton.addEventListener('click', event => {
            fetch(`/api/boards`, {
                method: 'POST',
                headers: {
                    "Content-type": "application/json",
                },
                body: JSON.stringify({
                    title : document.getElementById("titleInput").value,
                    content : document.getElementById("contentBox").value,
                    minNum : document.getElementById("minNum").value,
                    maxNum : document.getElementById("maxNum").value,
                    meetDate : meetDate,
                    restaurantName : document.getElementById("resName").value,
                    restaurantKey : 'sample reskey',
                    meetName : document.getElementById("meetName").value,
                    meetKey : 'sample meetkdy'
                })
            }).then(response => {
                console.log('response이다: ' , response);
                if (!response.ok) {
                    throw new Error("글 등록에 실패했습니다.");
                }
                return response.text();
            }).then(message => {
                alert("메뉴 등록 성공!");
                location.replace(`/main/${meetDate}`);
            }).catch(error => {
                alert("글 등록에 실패했습니다.");
            });
        });
    }


</script>

</html>