<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatTo</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/history.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 네비게이션 헤더 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="header">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../static/image/logo.png" id="logo" alt="" width="250px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-header">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">김유저님, 안녕하세요!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="statusActive">나의 이용현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">메뉴 등록</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link active" href="#"><img src="../static/image/bell-fill.svg" alt="" width="25px"></a>
                </li>
            </ul>
          </div>
        </div>
      </nav>    
    
    <!-- 본문 -->
    <div class="containter text-center">
        <div class="row justify-content-center mt-5">
            <div class="col-1" id="joinType">참여</div>
        </div>
        <div class="row mx-3 my-5">
            <div class="col text-primary" id="col1">참여 예정
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-success" id="col2">참여 완료
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-dark" id="col3">지난 참여
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-secondary" id="col4">참여 취소
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-1" id="joinType">모집</div>
        </div>
        <div class="row mx-3 my-5">
            <div class="col text-primary" id="col1">모집 중
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-success" id="col2">모집 완료
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-dark" id="col3">지난 모집
                <table class="table text-dark">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-secondary" id="col4">모집 취소
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                2/5 월
                            </td>
                            <td>
                                방배동 순대국
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     

</body>
</html>