<div class="modal fade" id="boardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: aliceblue;">
                <div class="modal-title me-5" id="exampleModalLabel">
                    <div id="boardDetailModalTitle"></div>
                </div>
                <div id="boardDetailModalStatus"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row border-bottom my-2">
                        <div class="col-6" id="boardDetailModalWriter"></div>
                        <div class="col-6" id="boardDetailModalMeetDate"></div>
                    </div>
                    <div class="row border-bottom my-2">
                        <div class="col-6" id="boardDetailModalMintoMax"></div>
                        <div class="col-6" style="display: flex">
                            <div class="me-3" id="boardDetailModalCurrent"></div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    신청자 목록
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item">Action</a></li>
                                    <li><a class="dropdown-item">Another action</a></li>
                                    <li><a class="dropdown-item">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom my-2">
                        <div class="col-12" id="boardDetailModalContent" style="height: 20vh; padding-top: 2vh;"></div>
                    </div>
                    <div class="row my-2">
                        <div class="col-6"><방문할 식당></div>
                        <div class="col-6"><모일 장소></div>
                    </div>
                    <div class="row my-2">
                        <div class="col-6" id="boardDetailModalResName"></div>
                        <div class="col-6" id="boardDetailModalMeetName"></div>
                    </div>
                    <div class="row border-bottom my-2">
                        <div class="col-6" id="boardDetailModalReskey" style="height: 15vh"></div>
                        <div class="col-6" id="boardDetailModalMeetkey" style="height: 15vh"></div>
                    </div>
                    <div class="row my-2">
                        <div class="col" id="boardDetailModalCommentAmount"></div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    writer1
                                </td>
                                <td>
                                    comment1
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div id="ModalBoardId" style="display: none;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalBtn1"></button>
                <button type="button" class="btn btn-info" id="modalBtn2"></button>
                <button type="button" class="btn btn-success" id="modalBtn3"></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>